pyenv/pyenv.symlink/versions/
pyenv/pyenv.symlink/shims/
pyenv/pyenv.symlink/plugins/
config/config.symlink/nvim/autoload/
pyenv/pyenv.symlink/cache/
vim/vim.symlink/autoload/
vim/vim.symlink/undodir/
vim/vim.symlink/plugged/
config/config.symlink/coc/
config/config.symlink/configstore/
config/config.symlink/htop/
config/config.symlink/pudb/*
!config/config.symlink/pudb/pudb.cfg

tmux/tmux.symlink/tmux.symlink
tmux/tmux.symlink/plugins/tpm/
tmux/tmux.symlink/resurrect/
tmux/tmux.symlink/plugins/tmux-continuum/
tmux/tmux.symlink/plugins/tmux-resurrect/
pyenv/pyenv.symlink/pyenv.symlink
config.symlink/htop
